body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}

#toggle-menu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;	 
    border-radius: 0.25em 0.25em 0em 0em;
}


.nav {
    list-style: none;
     *zoom: 1;
      
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    background: none repeat scroll 0 0 #333;
    text-shadow: 0 -1px 1px #000000;
	background: -moz-linear-gradient(center top , #333, #111111) repeat scroll 0 0 #333;
    color: #FFFFFF;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid #8a8a8a;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
	
}
.nav > li > a {
    display: block;
	padding-left: 15px;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
   background: none repeat scroll 0 0 #555555;
    position: relative;
    z-index:100;
	padding-left: 25px;
    border-top: 1px solid #8a8a8a;
	text-shadow: 0 -1px 1px #000000;
}
.nav li li li a {
    background: none repeat scroll 0 0 #747474;
    z-index:200;
    border-top: 1px solid #8a8a8a;
	text-shadow: 0 -1px 1px #000000;
	 padding-left: 35px
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}